h5 {
	margin-top: 3px;
	margin-bottom: -2px;
}

h6 {
	font-size: 9px;
}

button {
	outline: 0;
	font-size: 14px;
	width: 150px;
	height: 25px;
	border-style: solid;
	border-width: 3px;
	border-color: #000;
	margin-top: 3px;
	background-color: #555;
	color: #000
}

canvas {
	float: left;
}

button:hover {
	color: #fff;
}

#color_button {
	width: 100px;
}

#old_screen {
	background-color: #353535;
}

#testing {
	border: 5px solid black;
}

#display {
	margin-top: 50px;
}

.category {
	width: 400px;
	border-width: 2px;
	border-style: dashed;
	padding: 5px;
}

.category h4 {
	margin-top: 0px;
	margin-bottom: 3px;
}

.checkbox {
	margin-left: 10px;
	margin-right: 20px;
}

#rSl{
	width: 300px;
}

#gSl{
	width: 300px;
}

#bSl{
	width: 300px;
}

#fSl{
	width: 242px;
}

#modes {
	width: 355px;
	float: left;
	margin-left: 10px;
}

#simulator {
	height: 600px;
}

#unsupported_colors {
	outline: 1px;
	border-style: dashed;
	border-color: #000;
	border-color: #F33;
	background-color: #FAA;
	float: left;
	margin-top: 3px;
	padding: 3px 3px 3px 3px;
}

#unsupported_colors_header {
	color: #000;
	font-size: 15px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

/*#sliders {
	height: 600px;
	width: 25px;
	display: block;
}*/

input[type=range] {
	-webkit-appearance: none; 
	outline: 0;
	width: 100px;
	height: 20px;
	background-color: #222;
	border-style: hidden;
	border-width: 3px;
	margin-top: 3px;
	margin-bottom: 0px;
}
