h5 {
	margin-top: 3px;
	margin-bottom: -2px;
}

button, .design_button, .dial_item {
	border-style: solid;
	border-width: 3px;
	border-color: #000;
	background-color: #888;
	color: #000;
}

button, .design_button {
	outline: 0;
	font-size: 14px;
	margin-top: 3px;
	font-family: "DejaVu Sans";
	font-size: 14px;
}

.design_button, .dial_item {
	-moz-user-select: none;
	user-select: none;
	padding: 0px 8px;
}

.design_button {
	display: flex;
	align-items: center;
	justify-content: center;	
	float: left;
	width: 128px;
	height: 19px;
}

.design_button:active {
	box-shadow: 0 0 5px -1px #00823F;
}

button:hover, .design_button:hover {
	color: #fff;
}

canvas {
	float: left;
}

#color_button {
	width: 100px;
}

#old_screen {
	background-color: #353535;
}

#testing_column {
	display: inline-block;
	width: 810px;
}

#testing {
	border: 5px solid black;
}

#generate_code {
	width: 200px;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.category {
	display: grid;
	grid-template-areas: "a a";
	grid-gap: 0px 40px;
	grid-auto-columns: max-content;
	border-width: 2px;
	border-style: dashed;
	padding: 5px;
}

.category h4 {
	margin-top: 0px;
	margin-bottom: 3px;
	grid-column: 1 / 3;
	font-family: "DejaVu Sans";
}

.design_container {
	
}

#selections_column {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
	font-family: "DejaVu Sans";
}

#selections {
	-moz-user-select: none;
	user-select: none;
}

#selections > .switch_col {
	width: 200px;
	display: inline-block;
	border: 2px solid black;
	border-left: 2px solid black;
}

#selections > .switch_col ~ .switch_col {
	border-left: none;
}

#selections_controls {
	display: flex;
	align-items: center;
	justify-content: center;	
	margin: 20px;
}

#selections_controls button {
	margin-right: 20px;
	width: 160px;
	height: 50px;
}

#import_export {
	width: 100%;
	height: 300px;
}

.switch_head {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	border-bottom: 2px solid black;
	font-size: 30px;
}

.dial_container {
	display: flex;
	align-items: center;
	height: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.dial_label {
	margin-left: 5px;
}

.dial_item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-left: 5px;
	margin-right: 5px;
	width: 100%;
	vertical-align: top;
}

#copy_button {
	width: 200px;
	height: 70px;
	font-size: 20px;
	margin-right: 20px;
}

#download_button {
	width: 200px;
	height: 70px;
	font-size: 20px;
}

#display {
	margin-top: 20px;
	font-size: 9px;
	width: 100%;
	height: calc(100% - 100px);
}

#rSl{
	width: 300px;
}

#gSl{
	width: 300px;
}

#bSl{
	width: 300px;
}

#fSl{
	width: 242px;
}

#modes {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

#simulator {
	height: 600px;
}

#unsupported_colors {
	outline: 1px;
	border-style: dashed;
	border-color: #000;
	border-color: #F33;
	background-color: #FAA;
	float: left;
	margin-top: 3px;
	padding: 3px 3px 3px 3px;
}

#unsupported_colors_header {
	color: #000;
	font-size: 15px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

/*#sliders {
	height: 600px;
	width: 25px;
	display: block;
}*/

input[type=range] {
	-webkit-appearance: none; 
	outline: 0;
	width: 100px;
	height: 20px;
	background-color: #222;
	border-style: hidden;
	border-width: 3px;
	margin-top: 3px;
	margin-bottom: 0px;
}
